/*1.初始化页面代码*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: cursive !important;
  -webkit-text-size-adjust: 100%;
}

td,
th,
caption {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #555;
  text-decoration: none;
  font-family: cursive !important;
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: middle
}

ol,
ul,
li {
  list-style: none;
}

input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html {
  overflow-y: scroll;
}

* {
  font-family: cursive !important;
}



/**************************公共样式********************************/

/*2.清除浮动*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

/*3.文本省略号显示*/
/*3.1单行显示*/
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*3.1多行显示*/
.ellipsis_rows {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 3; */
  overflow: hidden;
  text-overflow: ellipsis;
}

/*4.图片居中*/
/*4.1水平居中*/
.img {
  margin: 0 auto
}

.img_father {
  text-align: center
}

/*4.2垂直居中*/
.img {
  postion: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.img_father {
  line-height: 30px
}


/* 上移动画 */
.hover {
  position: relative;
  top: 0;
  transition: top 1s;
}

.hover:hover {
  top: -10px;
}

.tc {
  text-align: center;
}

.box_title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

.box_title span {
  font-weight: normal;
  font-size: 18px;
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.border_lr {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.box {
  width: 1200px;
  margin: 0 auto;
}

.color {
  color: rgb(156, 158, 146);
}

.headerBox_nav_btn {
  display: block;
}

.headerBox_nav {
  display: block;
}

.header_sj {
  display: none;
}

.footerBox .footer_content>div.code>div {
  text-align: right;
}

@media screen and (max-width: 960px) {
  .box {
    width: auto;
  }

  .footerBox .footer_content {
    padding: 0 50px;
  }

  .footerBox .footer_content>div.code>div {
    margin: 20px auto;
    text-align: center;
  }

  .footerBox .box>p {
    text-align: center;
  }

  .headerBox_nav_btn {
    display: none;
  }

  .header_sj {
    height: 50px;
    background: #141618;
    line-height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    display: block;
  }

  .header_sj>img {
    height: 30px;
  }

  .header_sj span {
    float: right;
    color: #fff;
    margin-top: 15px;
  }

  .headerBox_nav {
    display: none;
  }

  .introduction_content {
    padding: 0 30px !important;
  }

  .news_hot>.news_search,
  .news_list,
  .newsCard{
    padding: 0 20px !important;
  }
}

/* 头部轮播 */
.headerBox {
  position: relative;
}

.headerBox_nav {
  position: absolute;
  left: 0%;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 80px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.headerBox_nav .logoBox {
  width: 200px;
  float: left;
  display: flex;
  justify-content: center;
}

.headerBox_nav .logo {
  height: 40px;
  margin: 20px auto;
}

.headerBox_nav>.uk-position-relative {
  margin: 0 200px;
}

.uk-navbar-nav>li>a {
  color: #dfdfdf;
}

.uk-navbar-nav>li>a:active,
.uk-navbar-nav>li>a:focus {
  color: aqua;
}

.uk-navbar-nav>li.uk-active>a {
  color: aqua;
}

.uk-navbar-nav>li:hover>a {
  color: aqua;
}

.headerBox_nav .uk-navbar-nav>li>a {
  font-weight: bold;
  font-size: 15px;
  padding: 0 30px;
}

.headerBox_nav .uk-navbar-dropdown-nav>li>a {
  line-height: 30px;
}

.uk-navbar-dropdown-nav>li:hover>a {
  color: aqua;
}

.headerBox_nav_btn {
  float: right;
  width: 200px;
  height: 100%;
  text-align: center;
}

.headerBox_nav_btn a {
  display: inline-block;
  width: 150px;
  height: 46px;
  line-height: 46px;
  border: 1px solid aqua;
  border-radius: 25px;
  color: aqua;
  text-align: center;
  margin-top: 15px;
}

.headerBox_nav_btn a:hover {
  background: aqua;
  color: #fff;
}

/* 底部信息 */
.footerBox {
  background: #242628;
  padding: 50px 0;
}

.footerBox .footer_content>div>img {
  height: 60px;
}

.footerBox .footer_content>div {
  color: #fff;
  float: left;
  padding-top: 30px;
}

.footerBox .footer_content p {
  margin-top: 10px;
}

.footerBox .footer_content>div.code {
  float: right;
  margin-right: 0;
  padding-top: 0;
}

.code img {
  width: 100px;
}

/* 顶部图片 */
.header_img {
  height: 600px;
}

.header_img h1 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}

.header_img p {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}